@{
    ViewBag.Title = "Edit";
}

<h2>Edit Project @ViewBag.ID</h2>
<p>The Edit node is hidden using the visibility="SiteMapPathHelper,!*" in the Mvc.sitemap file.</p>
<p>preservedRouteParameters="id" has been added to preserve the breadcrumb</p>
<p>Problem: I lost the active node on the left. I'm not under the "Project" node.</p>
<p>I expect to have the Project node opened.</p>