@{
    ViewBag.Title = "Home Page";
}

<h2>Home</h2>
<p>The Edit node, under project, is hidden using the visibility="SiteMapPathHelper,!*" in the Mvc.sitemap file.</p>
<p>Navigate to "Project / List" and select a project to reach the Edit action.</p>
<p>Problem: You will lose the active parent node on the left.</p>