@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>

@Html.ActionLink("Project 1","Edit", new { id = 1 })
@Html.ActionLink("Project 2", "Edit", new { id = 2 })
@Html.ActionLink("Project 3", "Edit", new { id = 3 })
@Html.ActionLink("Project 4", "Edit", new { id = 4 })