body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Site Map CSS */

.sidebar-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 5px;
}

.submenu {
    display: none;
}

.sidebar-menu li.active {
    background-color:darkkhaki;
}

.sidebar-menu li.open {
    background-color: #ffffff;
}

.sidebar-menu li.open > .submenu {
    display: block !important;
}